In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('owid-covid-data.csv')

In [3]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [4]:
data.count()

iso_code                                 75558
continent                                71843
location                                 75558
date                                     75558
total_cases                              74316
new_cases                                74314
new_cases_smoothed                       73313
total_deaths                             65057
new_deaths                               65215
new_deaths_smoothed                      73313
total_cases_per_million                  73911
new_cases_per_million                    73909
new_cases_smoothed_per_million           72913
total_deaths_per_million                 64665
new_deaths_per_million                   64823
new_deaths_smoothed_per_million          72913
reproduction_rate                        60752
icu_patients                              7759
icu_patients_per_million                  7759
hosp_patients                             9337
hosp_patients_per_million                 9337
weekly_icu_admissions                      683
weekly_icu_admissions_per_million          683
weekly_hosp_admissions                    1261
weekly_hosp_admissions_per_million        1261
new_tests                                34165
total_tests                              33945
total_tests_per_thousand                 33945
new_tests_per_thousand                   34165
new_tests_smoothed                       39004
new_tests_smoothed_per_thousand          39004
positive_rate                            37720
tests_per_case                           37141
tests_units                              40343
total_vaccinations                        4691
people_vaccinated                         4229
people_fully_vaccinated                   2826
new_vaccinations                          4001
new_vaccinations_smoothed                 7049
total_vaccinations_per_hundred            4691
people_vaccinated_per_hundred             4229
people_fully_vaccinated_per_hundred       2826
new_vaccinations_smoothed_per_million     7049
stringency_index                         64737
population                               75144
population_density                       70523
median_age                               68521
aged_65_older                            67733
aged_70_older                            68135
gdp_per_capita                           68755
extreme_poverty                          46904
cardiovasc_death_rate                    69372
diabetes_prevalence                      70267
female_smokers                           54507
male_smokers                             53758
handwashing_facilities                   34827
hospital_beds_per_thousand               63470
life_expectancy                          71792
human_development_index                  69313
dtype: int64

In [5]:
data.isnull().sum()

iso_code                                     0
continent                                 3715
location                                     0
date                                         0
total_cases                               1242
new_cases                                 1244
new_cases_smoothed                        2245
total_deaths                             10501
new_deaths                               10343
new_deaths_smoothed                       2245
total_cases_per_million                   1647
new_cases_per_million                     1649
new_cases_smoothed_per_million            2645
total_deaths_per_million                 10893
new_deaths_per_million                   10735
new_deaths_smoothed_per_million           2645
reproduction_rate                        14806
icu_patients                             67799
icu_patients_per_million                 67799
hosp_patients                            66221
hosp_patients_per_million                66221
weekly_icu_admissions                    74875
weekly_icu_admissions_per_million        74875
weekly_hosp_admissions                   74297
weekly_hosp_admissions_per_million       74297
new_tests                                41393
total_tests                              41613
total_tests_per_thousand                 41613
new_tests_per_thousand                   41393
new_tests_smoothed                       36554
new_tests_smoothed_per_thousand          36554
positive_rate                            37838
tests_per_case                           38417
tests_units                              35215
total_vaccinations                       70867
people_vaccinated                        71329
people_fully_vaccinated                  72732
new_vaccinations                         71557
new_vaccinations_smoothed                68509
total_vaccinations_per_hundred           70867
people_vaccinated_per_hundred            71329
people_fully_vaccinated_per_hundred      72732
new_vaccinations_smoothed_per_million    68509
stringency_index                         10821
population                                 414
population_density                        5035
median_age                                7037
aged_65_older                             7825
aged_70_older                             7423
gdp_per_capita                            6803
extreme_poverty                          28654
cardiovasc_death_rate                     6186
diabetes_prevalence                       5291
female_smokers                           21051
male_smokers                             21800
handwashing_facilities                   40731
hospital_beds_per_thousand               12088
life_expectancy                           3766
human_development_index                   6245
dtype: int64

In [6]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [7]:
filtered_data = data[data['location'].isin(['Kenya','USA','India'])]

In [8]:
print(filtered_data)

      iso_code continent location        date  total_cases  new_cases  \
31036      IND      Asia    India  2020-01-30          1.0        1.0
31037      IND      Asia    India  2020-01-31          1.0        0.0
31038      IND      Asia    India  2020-02-01          1.0        0.0
31039      IND      Asia    India  2020-02-02          2.0        1.0
31040      IND      Asia    India  2020-02-03          3.0        1.0
...        ...       ...      ...         ...          ...        ...
36223      KEN    Africa    Kenya  2021-03-13     112805.0      870.0
36224      KEN    Africa    Kenya  2021-03-14     113236.0      431.0
36225      KEN    Africa    Kenya  2021-03-15     113967.0      731.0
36226      KEN    Africa    Kenya  2021-03-16     115031.0     1064.0
36227      KEN    Africa    Kenya  2021-03-17     116310.0     1279.0

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
31036                 NaN           NaN         NaN                  NaN  ...
31037                 NaN           NaN         NaN                  NaN  ...
31038                 NaN           NaN         NaN                  NaN  ...
31039                 NaN           NaN         NaN                  NaN  ...
31040                 NaN           NaN         NaN                  NaN  ...
...                   ...           ...         ...                  ...  ...
36223             634.714        1908.0         7.0                4.857  ...
36224             629.857        1913.0         5.0                5.286  ...
36225             686.143        1918.0         5.0                5.571  ...
36226             769.714        1925.0         7.0                5.571  ...
36227             850.571        1937.0        12.0                5.571  ...

       gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
31036        6426.674             21.2                282.280
31037        6426.674             21.2                282.280
31038        6426.674             21.2                282.280
31039        6426.674             21.2                282.280
31040        6426.674             21.2                282.280
...               ...              ...                    ...
36223        2993.028             36.8                218.637
36224        2993.028             36.8                218.637
36225        2993.028             36.8                218.637
36226        2993.028             36.8                218.637
36227        2993.028             36.8                218.637

       diabetes_prevalence  female_smokers  male_smokers  \
31036                10.39             1.9          20.6
31037                10.39             1.9          20.6
31038                10.39             1.9          20.6
31039                10.39             1.9          20.6
31040                10.39             1.9          20.6
...                    ...             ...           ...
36223                 2.92             1.2          20.4
36224                 2.92             1.2          20.4
36225                 2.92             1.2          20.4
36226                 2.92             1.2          20.4
36227                 2.92             1.2          20.4

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
31036                  59.550                        0.53            69.66
31037                  59.550                        0.53            69.66
31038                  59.550                        0.53            69.66
31039                  59.550                        0.53            69.66
31040                  59.550                        0.53            69.66
...                       ...                         ...              ...
36223                  24.651                        1.40            66.70
36224                  24.651                        1.40            66.70
36225                  24.651                        1.40            66.70
36226                  24.651                        1.40            66.70
36227                  24.651                        1.40            66.70

       human_development_index
31036                    0.645
31037                    0.645
31038                    0.645
31039                    0.645
31040                    0.645
...                        ...
36223                    0.601
36224                    0.601
36225                    0.601
36226                    0.601
36227                    0.601

[790 rows x 59 columns]

In [9]:
filtered_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
31036,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31037,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31038,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31039,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31040,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [10]:
filtered_data.isnull().sum()

iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                7
new_cases                                  7
new_cases_smoothed                        17
total_deaths                              61
new_deaths                                61
new_deaths_smoothed                       17
total_cases_per_million                    7
new_cases_per_million                      7
new_cases_smoothed_per_million            17
total_deaths_per_million                  61
new_deaths_per_million                    61
new_deaths_smoothed_per_million           17
reproduction_rate                         77
icu_patients                             790
icu_patients_per_million                 790
hosp_patients                            790
hosp_patients_per_million                790
weekly_icu_admissions                    790
weekly_icu_admissions_per_million        790
weekly_hosp_admissions                   790
weekly_hosp_admissions_per_million       790
new_tests                                268
total_tests                              224
total_tests_per_thousand                 224
new_tests_per_thousand                   268
new_tests_smoothed                        78
new_tests_smoothed_per_thousand           78
positive_rate                             84
tests_per_case                            84
tests_units                               64
total_vaccinations                       725
people_vaccinated                        725
people_fully_vaccinated                  758
new_vaccinations                         731
new_vaccinations_smoothed                716
total_vaccinations_per_hundred           725
people_vaccinated_per_hundred            725
people_fully_vaccinated_per_hundred      758
new_vaccinations_smoothed_per_million    716
stringency_index                          10
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
aged_70_older                              0
gdp_per_capita                             0
extreme_poverty                            0
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                             0
male_smokers                               0
handwashing_facilities                     0
hospital_beds_per_thousand                 0
life_expectancy                            0
human_development_index                    0
dtype: int64

In [11]:
print(len(filtered_data['life_expectancy']))

790

In [12]:
columns_to_drop = []

for column in filtered_data.columns:
    if filtered_data[column].isnull().sum() == 790:
        columns_to_drop.append(column)

In [13]:
new_data = filtered_data.drop(columns = columns_to_drop)

In [14]:
new_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
31036,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31037,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31038,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31039,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31040,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [15]:
new_data.isnull().sum()

iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                7
new_cases                                  7
new_cases_smoothed                        17
total_deaths                              61
new_deaths                                61
new_deaths_smoothed                       17
total_cases_per_million                    7
new_cases_per_million                      7
new_cases_smoothed_per_million            17
total_deaths_per_million                  61
new_deaths_per_million                    61
new_deaths_smoothed_per_million           17
reproduction_rate                         77
new_tests                                268
total_tests                              224
total_tests_per_thousand                 224
new_tests_per_thousand                   268
new_tests_smoothed                        78
new_tests_smoothed_per_thousand           78
positive_rate                             84
tests_per_case                            84
tests_units                               64
total_vaccinations                       725
people_vaccinated                        725
people_fully_vaccinated                  758
new_vaccinations                         731
new_vaccinations_smoothed                716
total_vaccinations_per_hundred           725
people_vaccinated_per_hundred            725
people_fully_vaccinated_per_hundred      758
new_vaccinations_smoothed_per_million    716
stringency_index                          10
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
aged_70_older                              0
gdp_per_capita                             0
extreme_poverty                            0
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                             0
male_smokers                               0
handwashing_facilities                     0
hospital_beds_per_thousand                 0
life_expectancy                            0
human_development_index                    0
dtype: int64

In [16]:
empty = []
for column in new_data.columns:
    if new_data[column].isnull().sum() >= 50:
        empty.append(column)

In [17]:
final_data = new_data.drop(columns = empty )

In [18]:
final_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
31036,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,0.001,0.001,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31037,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,0.001,0.000,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31038,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,0.001,0.000,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31039,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,0.001,0.001,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31040,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,0.002,0.001,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [19]:
print(final_data['new_deaths_smoothed'].isnull().sum())

17

In [20]:
final_data['date'] = pd.to_datetime(final_data['date'])

In [21]:
final_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
31036,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,0.001,0.001,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31037,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,0.001,0.000,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31038,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,0.001,0.000,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31039,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,0.001,0.001,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
31040,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,0.002,0.001,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [23]:
print(type(final_data['date']))

<class 'pandas.core.series.Series'>

In [ ]:
print()